  <div class="form-island">
    <%= simple_form_for(island) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :size %>
      <%= f.input :number_of_guests %>
      <%= f.input :price_per_night %>
      <%= f.file_field :photos,  multiple: true %>
      <%= f.submit "Confirm", class: "btn btn-primary" %>
    <% end %>
  </div>
