<div class="container">
<h2 class="text-center mb-4">My Islands</h2>
  <% @islands.each do |island| %>
    <%= link_to island_path(island) do %>
      <div class="cardv2">
        <%= cl_image_tag island.photos.first.key, class: "card-img-top" %>
        <div class="cardv2-content">
          <div class="cardv2-header">
            <h5><%= island.name %></h5>
            <div class="crud">
              <%= link_to edit_island_path(island) do %>
                <i class="fa-regular fa-pen-to-square" style="color: #000000;"></i>
              <% end %>
              <%= link_to island_path(island),   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash" style="color: #000000;"></i>
              <% end %>
            </div>
          </div>
          <div class="cardv2-details">
            <%= island.description %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
