<div class="container">
 <div class="row">
    <% @islands.each do |island| %>
      <div class="col-12 col-sm-8 col-lg-3 mb-4">
        <div class="card">
          <%= link_to island_path(island) do %>
            <%= cl_image_tag island.photos.first.key, class: "card-img-top" %>
            <div class="card-body">
              <h5><%= island.name %></h3>
              <p class="guests">Number of guest(max): <%= island.number_of_guests %></p>
              <p class="price"><strong>Price:</strong> <%= island.price_per_night %> per night</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
