<div class="container bg-light">
  <div id="header">
    <h2><%= @island.name %></h2>
    <div id="header-details">
      <div id="size">
        <%= @island.size %>
      </div>
    </div>
    <div id="images" class="d-flex">
      <div id="main-image" class="pe-3">
        <%= cl_image_tag @island.photos.first.key, height: 300, width: 400, crop: :fill, :class => "rounded-start-4" %>
      </div>
      <div id="secondary-images">
        <% @island.photos.last(4).each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="details"></div>
    <div id="description" class="text-secondary">
      <%= @island.description %>
    </div>
    <div id="booking">
      <%# render booking form %>

    </div>
  </div>
</div>
