<div class="container w-100">
  <div id="header" class="d-flex flex-column">
    <h2><%= @island.name %></h2>
    <div id="header-details" class="d-flex">
      <p><%= @island.address %></p>
    </div>
  </div>

  <div class="container mb-4">
    <div id="images">
      <div id="main-images">
        <%= cl_image_tag @island.photos.first.key, height: 400, width: 600, crop: :fill %>
      </div>
      <div id="sec-images">
        <% @island.photos.last(4).each do |photo| %>
          <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="container mb-4">
    <div id="details" class="w-100">
      <div id="info" class="w-100 d-flex">
        <div id="specs">
          <div id="specs-header" class="d-flex jusify-content-between w-100 border-bottom mb-3">
            <div id="specs-details" class="w-100">
              <h3><%= @island.name %> hosted by <%= @island.user.first_name %></h3>
              <p>Up to <%= @island.number_of_guests %> guests</p>
            </div>
            <div class="avatar">
              <% if @island.user.photo.attached? %>
                <%= cl_image_tag @island.user.photo.key, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            </div>
          </div>
          <p class="border-bottom pb-3"><%= @island.description %></p>
        </div>
        <div id="form">
          <%=  render "shared/booking_form",locals: { island: @island, booking: @booking} %>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



















<%# <div class="container bg-light"> %>
  <%# <div id="header"> %>
    <%# <h2><%= @island.name</h2>  %>
    <%# <div id="header-details"> %>
      <%# <div id="size"> %>
        <%# <%= @island.size %>
      <%# </div> %>
    <%# </div> %>
    <%# <div id="images" class="d-flex"> %>
      <%# <div id="main-image" class="pe-3"> %>
        <%# <%= cl_image_tag @island.photos.first.key, height: 300, width: 400, crop: :fill, :class => "rounded-start-4" %>
      <%# </div> %>
      <%# <div id="secondary-images"> %>
        <%# <ul class="list-unstyled"> %>
          <%# <% @island.photos.last(4).each do |photo| %>
          <%# <li> %>
            <%# <%= cl_image_tag photo.key, height: 120, width: 120, crop: :fill %>
          <%# </li> %>
          <%# <% end %>
        <%# </ul> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
  <%# <div id="details"> %>
    <%# <div id="description" class="text-secondary"> %>
      <%# <%= @island.description %>
    <%# </div> %>
    <%# <div id="booking"> %>
      <%# render booking form %>

    <%# </div> %>
  <%# </div> %>
<%# </div> %>
